@model MvcProje.Models.Entity.Animal

@{
    ViewData["Title"] = "AnimalUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3> Hayvan Güncelleme Sayfası</h3>
<br />

<form method="post" asp-controller="Admin" asp-action="AnimalUpdate" >
    
    @Html.Label("Hayvan Yaşı")
    <input type="text" asp-for="AnimalAge" class="form-control"/>
   @* @Html.TextBoxFor(x=> x.AnimalAge, new{@class="form-control"})*@
   @Html.Label("Açıklama")
    <input type="text" asp-for="AnimalDescription" class="form-control" />
 @*   @Html.TextBoxFor(x=> x.AnimalDescription, new{@class="form-control"})*@
   @*//form-control responsive*@
   <input type="hidden" asp-for="AnimalID"/>
    
    <button type="submit" class="btn btn-info" value="AnimalUpdate">Güncelleme</button>
</form>
<div>
    @Html.ActionLink("Geri Dön","Index")
</div>


